<% include header.ejs %>

<div class="large-header">
	<h2>Teemo, we have a problem...</h2>
	<h2><%= message %></h2>
</div>
<div style="width:100%;padding:35px;text-align:center">
Think something on the site is broken? Please send me a message... (on reddit) <a href="http://reddit.com/u/joeldo/">/u/joeldo</a>
</div>
<% include scripts.ejs %>

<% include footer.ejs %>
