<% include header.ejs %>

<h2 style="margin-bottom:8px">Frequently Asked Questions</h2>

<div class="container-fluid">
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-7 counter-column">
	<!--
            <h2 class="champion-stats">Masteries</h2>
              <div class="mastery0">
              	<h2> Offensive </h2>
                <div class="mastery-icon mastery-4122"> </div>
                <div class="mastery-icon mastery-4122"> </div>
                <div class="mastery-icon mastery-4122"> </div>
                <div class="mastery-icon mastery-4122"> </div>

                <div class="mastery-icon mastery-4122"> </div>
                <div class="mastery-icon mastery-4122"> </div>
                <div class="mastery-icon mastery-4122"> </div>
                <div class="mastery-icon mastery-4122"> </div>

                <div class="mastery-icon mastery-4122"> </div>
                <div class="mastery-icon mastery-selected-3 mastery-4122">
                	<div class="mastery-points"></div>
                </div>
                <div class="mastery-icon mastery-4122"> </div>
                <div class="mastery-icon mastery-4122"> </div>

                <div class="mastery-icon mastery-4122"> </div>
                <div class="mastery-icon mastery-4122"> </div>
                <div class="mastery-icon mastery-4122"> </div>
                <div class="mastery-icon mastery-4122"> </div>

                <div class="mastery-icon mastery-4122"> </div>
                <div class="mastery-icon mastery-4122"> </div>
                <div class="mastery-icon mastery-left-indent mastery-4122"> </div>
                <div class="mastery-icon mastery-left-indent mastery-4122"> </div>
              </div>
              <div class="mastery1">
              	<h2> Defensive </h2>
                <div class="mastery-icon mastery-4122"> </div>
                <div class="mastery-icon mastery-4122"> </div>
                <div class="mastery-icon mastery-4122"> </div>
                <div class="mastery-icon mastery-4122"> </div>

                <div class="mastery-icon mastery-4122"> </div>
                <div class="mastery-icon mastery-4122"> </div>
                <div class="mastery-icon mastery-left-indent mastery-4122"> </div>
                <div class="mastery-icon mastery-4122"> </div>

                <div class="mastery-icon mastery-4122"> </div>
                <div class="mastery-icon mastery-4122"> </div>
                <div class="mastery-icon mastery-4122"> </div>
                <div class="mastery-icon mastery-4122"> </div>

                <div class="mastery-icon mastery-4122"> </div>
                <div class="mastery-icon mastery-4122"> </div>
                <div class="mastery-icon mastery-4122"> </div>
                <div class="mastery-icon mastery-4122"> </div>

                <div class="mastery-icon mastery-4122"> </div>
                <div class="mastery-icon mastery-4122"> </div>
                <div class="mastery-icon mastery-left-indent mastery-4122"> </div>
              </div>
              <div class="mastery2">
              	<h2> Support </h2>
                <div class="mastery-icon mastery-4122"> </div>
                <div class="mastery-icon mastery-4122"> </div>
                <div class="mastery-icon mastery-4122"> </div>
                <div class="mastery-icon mastery-4122"> </div>

                <div class="mastery-icon mastery-left-indent mastery-4122"> </div>
                <div class="mastery-icon mastery-4122"> </div>
                <div class="mastery-icon mastery-4122"> </div>
                <div class="mastery-icon mastery-4122"> </div>

                <div class="mastery-icon mastery-4122"> </div>
                <div class="mastery-icon mastery-4122"> </div>
                <div class="mastery-icon mastery-4122"> </div>
                <div class="mastery-icon mastery-4122"> </div>

                <div class="mastery-icon mastery-4122"> </div>
                <div class="mastery-icon mastery-4122"> </div>
                <div class="mastery-icon mastery-4122"> </div>
                <div class="mastery-icon mastery-left-indent  mastery-4122"> </div>

                <div class="mastery-icon mastery-4122"> </div>
                <div class="mastery-icon mastery-left-indent mastery-4122"> </div> 
              </div>
            </div> -->
</div>
</div>

	Coming Soon

<% include scripts.ejs %>




<% include footer.ejs %>
