@mixin matchup-champion() {
    .matchup-champion{
        width: 36px;
        height: 36px;
        margin-top: -5px;
        display: inline-block;
        /* float: left; */
        margin-left: -7px;
        margin-bottom: -12px;
        padding: 0;
        /* margin: 0px; */
        /* position: initial; */
    }
}

@mixin summary-highlight() {
    .summary-highlight {
        color: #FFED68;
    }
}

@mixin champion-list-header() {
    font-weight: bold;
    font-size: 1.2em;
    color: #E0E0E0;
    display: block;

    @include summary-highlight();
}
