.btn-success {
    color: #fff;
    background-color: $theme-primary;
    border-color: #4cae4c;
}

.btn-success:hover {
    color: #fff;
    background-color: $theme-primary;
    border-color: #4cae4c;
}

.btn{
    border-radius: 0;
}
