.champion-area {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0;
    border-color: #0F0F0F;
    /*background-color: rgba(32, 32, 34, 0.76)*/;
    width: 100%;
    /* margin-top:15px; */

    @media (min-width: 775px) and (max-width: 1060px) {
        margin-top: -25px;
    }

    h2 {
        margin-bottom: 20px;
        margin-top: 20px;

        &.line-chart-header {
            margin-bottom: 10px;
        }
    }

    div {
        h2:first-child {
            margin-top: 12px;
        }
    }

    .container-fluid {
        .row {
            margin-top: 25px;
            padding-bottom: 18px;

            > div {
                border-right: 1px solid rgb(50, 55, 60);

                &:last-child {
                    border-right: none;
                }
            }
        }
    }

    .champion-profile {

        .champ-img{
            display: block;
            margin: auto;
            margin-top: 5px;
        }

        ul {
            padding: 0;
            margin-left: 0;

            li {
                list-style: none;
                text-align: center;

                &.selected-role {
                    border: 1px solid rgb(50, 57, 60);
                    padding: 10px;
                    background-color: rgba(31, 36, 39, 1);
                    margin-top: 13px;

                    h3 {
                        margin-bottom: 0;
                        margin-top: 0;
                        color: $theme-primary;
                    }
                }

                a {
                    &:hover {
                        text-decoration: none;

                        h3 {
                            color: #89f5a2;
                        }
                    }
                }
            }
        }

        h3 {
            margin-bottom: 0;
        }
    }

    .champion-statistics {
        ul {
            padding: 0;
            margin-left: 0;

            li {
                list-style: none;
            }
        }

        .table-striped {
            thead {
                tr {
                    th:nth-child(3), th:nth-child(4) {
                        text-align: center;
                    }
                }
            }

            tbody {
                tr {
                    td:first-child {
                        color: #FFE08C;
                        padding-left: 15px;
                    }

                    td:nth-child(2) {
                        font-weight: bold;
                    }

                    td:nth-child(3), td:nth-child(4) {
                        text-align: center;
                    }
                }

                tr:nth-child(odd) {
                    th, td {
                        background-color: rgba(31, 36, 39, 1);
                    }
                }

                tr:last-child {
                    border: 1px solid #2E3638;

                    td:first-child {
                        font-weight: bold;
                        text-transform: uppercase;
                        color: #89f5a2;
                    }
                }

                tr.highlighted {
                    td {
                        background-color: rgb(41, 48, 52);
                    }
                }
            }
        }
    }

    .chart-holder{
        width: 90%;
        margin: auto;
    }
}

.matchups {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0;
    /* background-color: #1D1D1F; */

    h2 {
        margin-bottom: 20px;
        display: inline-block;
    }

    .container-fluid {

        .row {
            margin-left: 0;
            margin-right: 0;
            z-index: 99999999;
            position: relative;
            /* border-bottom: 1px solid #2C2C2C; */

            > div:last-child {
                border-right: none;
            }
        }
    }

    .table-striped {
        tbody {
            tr {
                td:first-child {
                    color: #FFE08C;
                    padding-left: 15px;
                }
            }

            tr:nth-child(odd) {
                th, td {
                    background-color: #212325;
                }
            }
        }
    }
}
