// Old CSS file

.arrow-down {
    width: 0;
    height: 0;
    margin:auto;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid rgba(1,1,1,0.85);
}

.center-google{
    text-align:center;
    position:relative;
}

.mastery-row{
    display: table;
    margin-left: auto;
    margin-right: auto;
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}



::-moz-selection { /* Code for Firefox */
    color: white;
    background: #A5FFBA;
}

::selection {
    color: white;
    background: #A5FFBA;
}








/*
.fb-like{
  display:block!important;
  height: 20px !important;
  width:60px;
  position: absolute !important;
}*/









.champion-home-list{
    width: 97%;
    margin: auto;
    padding-top: 30px;
}

.matchup-chart-holder{
    width:70%;
    margin:auto;
}



.matchupSearch{
    background-color: #181C1D;
    padding: 6px;
    padding-top: 9px;
    padding-left: 12px;
    font-size: 13px;
    border: 1px solid rgb(51, 51, 51);
    width: 90%;
    margin-bottom: 2px;
    margin-right: 16px;
    position: relative;
    top: 1px;
    color:white;
}

.matchupSort{
    background-color: #333;
    border: 1px solid grey;
    color: white;
    padding: 5px;
    margin-left:3px;
}

.update-happening{
    /* margin-top: 15px; */
    /* text-align: center; */
    /* width: 100%; */
    /* margin-bottom: 15px; */
    /* display: inline-block; */
    /* width: 50%; */
    text-align: center;
    top: 10px;
    position: relative;
    z-index:-9999999;
    /* float: left; */
    /* width: 90%; */
    /* width: 100%; */
    /* margin-left: 100px; */
}











.large-header{
    /* margin-top: 25px; */

    /* background-color: rgb(24, 28, 29); */

    padding: 20px 12%;

    background-image: url('/img/header-bg.jpg');
    /* background-repeat: no-repeat; */
    background-position-y: -80px;
    /* border-bottom:1px solid rgb(23, 27, 31); */
    /* max-width: 1340px; */
    margin: auto;
    /* display: none; */
}
.large-header h2{
    font-size:1.75em;
    line-height:1.6em
}
a.twitter-share-button{
    color:rgba(0,0,0,0.1);
}



h2.champion-stats{
    margin-top: 30px;margin-bottom: 14px;
}




.stats-role-title{
    color:#FFE08C;
}


.above-average{
    background-color:#89f5a2;
}

.below-average{
    background-color:#F17D59;
}
.average{
    background-color:#bdb97e;
}

.same-position::after {
    content: "-";
    color: #555;
    font-size:1.2em;
    margin-right:3px;
    margin-left:1px;
    font-weight: bold;
}












.background-colourisation{
    background-color:rgba(126, 211, 255, 0.015);
}


.donate{
    position:absolute;
    right: 30px;
    top: 5px;
    text-transform:none;
    font-size:0.8em;
}

.counter-row{
    margin-top:25px;
}
.counter-column{
    border-right: 1px solid rgb(55, 59, 66);
}
.matchup-settings{
    border: 1px solid rgb(55, 59, 66);
    padding:10px;
    display:inline-block;
}


.counter-matchups{
    /* background-color: #242427; */
    padding: 6px 4px 7px;
    margin-bottom: 0px;
    /* position:relative; */
    transition:background-color 0.05s;
}
.counter-matchups:hover{
    background-color: #151A1A;
}

.counter-matchups > div{
    padding-left: 8px;

}
.counter-matchups h3{
    display: inline-block;
    position: absolute;
    font-size: 1.25em;
    left: 48px;
    top: -21px;
}

.matchups .col-sm-3{
    padding-right:0px;
}
.view-more-comment{
    position:absolute;
    left: 74px;
    top: 21px;
    cursor:pointer;
    transition:color 0.15s;
}

.view-more-comment, .view-more-stats, .view-linked-page{
    color:#FAFAFA;
}
.view-more-comment:hover, .view-more-stats:hover, .view-linked-page:hover{
    color:rgb(255, 83, 83);
}



.middle-graphic-holder{
    width:95%;margin:auto;
}
.damage-dealt{
    height:25px;
    position:relative;
}
.damage-dealt > div{
    position:absolute;
    height:100%;
}

.matchup-values-width{
    width:19%;
}
.matchup-title-width{
    width:24%;
}
.matchup-champ-img-width{
    width:34%;
    text-align:center;
}
.matchup-div-header{
    display:inline-block;
}
.view-more-stats{
    position:absolute;
    left: 50px;
    top: 21px;
    cursor:pointer;
    transition:color 0.15s;
}
.view-linked-page {
    position: absolute;
    left: 96px;
    top: 21px;
    cursor: pointer;
    transition: color 0.15s;
}

.matchups{
    padding-bottom:20px;
}
.matchup-champion-info{
    width:27.5%;display:inline-block;position:relative;top: 3px;
}
.matchup-champion-info h3:hover{
    color:#89f5a2;
}

.progress{
    margin-bottom:0px;
    width: 80%;
    margin:auto;
    background-color: #404146;
    height:18px;
    position:relative;
}

.statistic-rating{
    overflow: visible;
    display: inline;
    position: absolute;
    text-shadow: -1px 1px 1px black, 1px 0px 1px rgba(1,1,1,0.8);
    color: white;
    margin: auto;
    left: 20%;
}
.left+.show-more{
    color:#F17D59;
}
.right+.show-more{
    color:#89f5a2;
}

.show-more{
    height: 40px;
    text-align: center;
    padding: 8px;
    cursor: pointer;
    width: 100%;
    background-color: rgb(32, 37, 40);
    z-index: 99999999;
    position: relative;
    border: 1px solid rgb(24, 27, 31);
    border-top:none;
}

.show-more:hover{
    background-color: rgb(25, 29, 29);
    color: white;
    border: 1px solid rgb(27, 31, 37);
    border-top: none;
}

.show-more:active{
    background-color: rgb(37, 42, 45);
}

.important-message{
    color: #FD6F6F;
    /* margin-right:15px; */
    margin-right: 160px;
}
.matchup-stats{
    display:inline-block;
    margin-right:1px;
    width:42%;
    padding-right:8px;
    /* text-align:center; */
}
.matchup-wrapper{
    width:100%;
    text-align:center;
    margin-top: 12px;
}
.matchup-stats small{
    margin-left: 10%;
}
.matchup-stat-area{
    background-color: rgba(22, 22, 24, 0.36);
    margin-right:5px;
    margin-top: 15px;
}
.total-rating{
    float: left;
    padding: 2px;

    width: 30%;
    height: 19px;
    position:relative;

    /* margin-left: 2px; */

    /* margin-right: 5px; */
    color: white;
    border-radius: 3px;
}

.winrating-area{
    position: relative;
    width:28%;
    display:inline-block;
    text-align:center;
}
.winrating-area strong{
    display: block;
    position:relative;
    top: -8px;
    font-size:1.3em;
}

#matchups h2 {
    margin-bottom:20px;margin-top:25px
}
.champ-user-rating small{
    position: relative;
    top: -4px;
}
.overall-score-rating{
    width:23%;display:inline-block;position:relative;top:-15px;
}
ul.user-rating li{
    display:inline-block;
    width: 18%;height:19px;background-color: #404146;margin-left:1px;cursor:pointer;
    transition:background-color 0.15s, border 0.35s;
    border:2px solid transparent;
    border-radius:1px;
}


.physical-dmg{
    background-color:#FF5353;
}
.magic-dmg{
    background-color:rgba(101, 228, 245, 1);
}
.true-dmg{
    background-color:rgba(107, 107, 107, 1);
}
.stat-sorter{
    float:left;
    width: 42%;text-align:center;
}
.winrate-sorter{
    float:left;
    width: 28%;text-align:center;
}
.search-sorter{
    float:left;
    width: 29%;text-align:center;
}
.winrate-sorter, .stat-sorter{
    cursor:pointer;
    padding: 8px 0px;
}
.user-sorter:not(.selected-sorter):hover, .overall-sorter:not(.selected-sorter):hover, .stat-sorter:not(.selected-sorter):hover{
    color:white;
    background-color: rgb(26, 29, 30);
}

.selected-sorter{
    font-weight:bold;
    color:white;
    background-color: rgb(37, 43, 47);}

.radar-legend, .line-legend, .pie-legend {
    text-align:center;
    list-style-type: none;
    padding-left: 0px;
}
.pie-legend {
    text-align:left;
}
.radar-legend li, .line-legend li{
    display:inline-block;
    padding:10px;
}
.pie-legend li {
    display: block;
}
.radar-legend li span, .line-legend li span, .pie-legend li span {
    width: 12px;
    height: 12px;
    position: relative;
    top: 4px;
    display: block;
    float: left;
    margin-right: 6px;
}

.disqus{
    padding-right:6px;
    padding-left:14px;
}



.viktor-skills, .trinket-stats{
    margin-top: 35px;
    position: relative;
    left: 6px;
}
.viktor-skills small, .trinket-stats small{
    position: relative;
    left: -7px;
}
.viktor-skill, .trinket-single{
    width:25%;
    position:relative;
    display: inline-block
}

.viktor-skill img, .trinket-single img{
    width:36px;
    height:36px;
}
.viktor-key, .trinket-key{
    position:absolute;
    top:4px;
}
/*
ul.user-rating li:hover {
    background-color:white;
}*/
.build-wrapper, .summoner-wrapper{
    margin:auto;
    text-align:center;
}
.build-wrapper small{
    font-weight:bold;
    margin-left:2px;
    margin-right:2px;
}
.possible-build, .possible-summoner {
    display:inline-block;
    max-width:36px;
    max-height:36px;
}
.build-text, .summoner-text{
    margin-top: 10px;
    display: block;
    text-align: center;
    margin-bottom:5px;
    white-space: nowrap;
}
.build-text strong, .summoner-text strong{
    color: rgb(136, 244, 161);
}
.skill-order .build-text{
    margin-top:20px;
}
.rune-img img{
    width:42px;
    height:42px;
    margin-left: 10px;
    margin-right: 10px;
}
span.rune-title {
    color: rgb(101, 228, 245)
}

.rune-type-area{
    background-color: #202528;
}
.rune-img strong {
    margin-right: 12px;
}
h4{
    color:#89f5a2;
    margin-bottom:25px;
    text-align:center;
}
.description{
    font-size:0.85em;
}
.description>.highlight{
    color: #89f5a2 !important;
    font-size: 1.15em;
    font-weight: bold;
    border: 1px solid;
    padding: 2px;
    margin: 5px;
}


div.matchup-table{
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    margin-bottom: -8px;
}








.minimum-games{
    background-color: #242527;
    border: 1px solid rgb(71, 76, 81);
    font-weight: 400;
    color: rgb(236, 236, 236);
}

/* Possibly Use */
.counter-matchups {
    background-color:none;
    border-bottom: 1px solid #292D34;
}
matchups div:nth-child(odd) > .counter-matchups {
    background-color: rgba(26, 29, 29, 0.44);
    /* background-color: rgba(31, 42, 41, 1); */
}

matchups div:nth-child(odd) > .counter-matchups:hover {
    background-color: #16191A;
}

.left:first-child{
    border-top: 1px solid #F17D59;
}


.right:first-child{
    border-top: 1px solid #89f5a2;
}

#stats{
    width: 98.5%;
    margin: auto;
    margin-top: 20px;
}

#stats thead{
    background-color: rgb(13, 144, 114);
    font-weight: bold;
}
#stats thead tr td{
    cursor:pointer;
    color:white;
}
#stats thead tr td:hover{
    background-color:rgb(10, 118, 93);
}

#stats thead .selected-column {
    background-color:rgb(10, 118, 93);
    color: #FFE08C;
}

#stats tbody .selected-column {
    background-color: rgba(37, 44, 45, 0.92);
    color: #FFE08C;

}

#stats .down .selected-column::after {
    content: '\25B2';
}

#stats .up .selected-column::after {
    content: '\25BC';
}

#stats td{
    text-align:center;
    box-sizing: content-box;
}

#stats tbody td{
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight:bold;
}

#stats tr>td:nth-child(2){
    text-align:left;
    padding-left:11px;
}


#stats .table-striped>tbody>tr:nth-child(odd)>td, #stats .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #191D20;
}

#stats .table-striped>tbody>tr:nth-child(even)>td, #stats .table-striped>tbody>tr:nth-child(even)>th {
    background-color: #1F2325;
}

#stats .table>thead>tr>th, #stats .table>tbody>tr>th, #stats .table>tfoot>tr>th, #stats .table>thead>tr>td, #stats .table>tbody>tr>td, #stats .table>tfoot>tr>td {
    border-left: 1px solid rgba(0, 0, 0, 0.21);
    border-right: 1px solid rgba(0,0,0,0.21);
}

#stats div.matchup-champion{
    transform: scale(0.75);
}

span.stat-champ-title{
    position: relative;
    /* top: -6px; */
    font-weight:bold;
}

#header-fixed {
    position: fixed;
    top: 0px;
    display:none;
    z-index: 9999999;
}



#matchups .progress-bar{
    background-color:rgba(101, 228, 245, 1);
}
#matchups .synergy .progress-bar{
    background-color: rgba(107, 219, 147, 1);
}

#matchups .progress{
    margin-bottom:20px;
    background-color:#FF5353;
}
#matchups .synergy .progress{
    background-color: #383838;
}



iframe.center{
    display: block;
    margin: auto;
    position:relative;
}

.matchup-progress-bars {
    margin-bottom: 30px;
    margin-top: 25px;
    background-color: rgba(20, 26, 29, 0.27);
    padding-top: 10px;
    padding-bottom: 10px;
}

.matchup-progress-bars h4{
    margin-bottom:7px;
    margin-top:14px;
}

.matchup-progress-bars h2{
    margin-bottom:18px;
    margin-top:7px;
}

h1.champ1, .victor1{
    color:rgb(101, 228, 245);
}
h1.champ2, .victor2{
    color:#FF5353;
}

.matchup-header{
    text-align:center;
}
.reddit-titles {
    padding:4px 4px 4px 12px
}
.container-reddit{
    margin-bottom:8px;
    /* background-color: #1B2021; */
}
.container-reddit h4{
    text-align:left;margin-bottom:5px;margin-top:2px
}
.reddit-summary{
    cursor:pointer;margin-right:15px;font-weight:bold;color:rgb(215, 215, 215);
}
.reddit-summary:hover{
    color:white;
}
.reddit-comments{
    margin-right:15px;
    color:#428bca;
}
.reddit-date{
    color:#f7f7f7
}
.reddit-summary-area{
    background-color: rgba(1, 1, 1, 0.12);padding:12px;margin-top:4px;border:1px solid #333;color:#C7C7C7;
}

.navbar .container-fluid{
    /* max-width: 1400px; */
    /* width:95%; */
    /* height: 100%; */
    /* background-color: rgba(176, 219, 255, 0.03); */
    /* padding-bottom: 15px; */
}



.summary h3{
    text-align:center;
    color: rgba(101, 245, 179, 1);
    font-size:1em;
    font-size: 1.4em;
}
.bottom-champ{
    margin-top: 14px;
}
.stat-summary-box{
    margin-bottom:25px;
    width:19%;display:inline-block;
}
.stat-summary-box h3{
    text-align:center;
    padding-bottom: 8px;
    padding-top: 6px;
    /* background-color: rgba(25, 29, 32, 1); */
    border: 1px solid #3F986F;
    font-weight: bold;
    font-size: 1.1em;
    text-transform: uppercase;
}
.stat-summary-container{
    text-align:center;
}
.stat-summary-container>div{
    border-left: 1px solid rgb(39, 46, 48);
}

.stat-summary-container.first-summary>div{
    border-left: 0px;
}




/*Skill Order*/
.skill-order{
    /*background-color:black;*/
    width:100%;
}


.skill-order > div:nth-of-type(odd){

    background-color: rgb(32, 37, 40);
}

.skill-order > div:first-child{
    background-color: rgb(22, 27, 27);
    text-align: center;
    font-weight: bold;
    font-size:1.1em;
}

.skill-order > div:first-child div span{
    position:relative;
    top:6px;
}

.selected span{
    color:black;
    font-size:0.8em;
    font-weight: bold;
}


.skill{
    width:100%;
    float:left;
    overflow:hidden;
}
.skill-order img, .img-placeholder{
    width:38px;
    height:38px;
    float:left;
}

.skill-selections{
    overflow:hidden;
}

.skill-selections > div {
    width:5.555%;
    padding-left:2px;
    padding-right:2px;
    height:38px;
    border-left: 1px solid rgba(50, 57, 60, 0.66);
    border-bottom: 1px solid rgba(50, 57, 60, 0.66);
    border-collapse: collapse;
    float:left;
}

.skill-selections > div.selected {

    background-color:rgb(101, 228, 245);
    border: 1px solid black;
}


/* masteries */

.mastery0, .mastery1, .mastery2{
    display: inline-block;
    cursor:default;
    position:relative;
    padding:10px;
    background-size:120%;
    border:1px solid rgb(55, 59, 66);
    margin-left:10px;

}


.mastery-header{
    font-weight:bold;
    font-size:1.1em;
    text-align:center;
}
.mastery0{
    background-image:url('/img/mastery0.jpg?v=5.22.3');
}
.mastery1{
    background-image:url('/img/mastery1.jpg?v=5.22.3');
}
.mastery2{
    background-image:url('/img/mastery2.jpg?v=5.22.3');
}
.mastery-container{
    border-right:none !important;
    position:relative;
    text-align: center;
}
.mastery-icon{
    margin: 3px;
    border: 1px solid grey;
    width: 40px;
    height: 40px;
    display: block;
    background-size: initial;
    position:relative;
    opacity:0.35;
    float: left;
    z-index:88;
}
.mastery-icon .points {display: block;width:100%;height: 8px;padding: 0px;margin: 0px;background-color:rgba(0, 0, 0, 0.83);position:absolute;bottom:0px;}
.mastery-icon .point {display: block;position: relative;background-color:yellow;width: 4px;height: 4px;margin-left: 3px;top: 3px;float: left;}
.mastery-spacer{
    width: 40px;
    height: 40px;
    margin: 3px;
    position:relative;
    display: block;
    float: left;
}

.mastery-active{
    border: 2px solid black;
    opacity:1;
}

.mastery-icon.double-mastery-left-indent{
    margin-left: 124px;
}

.mastery-icon.mastery-left-indent{
    margin-left: 62px;
}

.mastery-icon.tripple-mastery-left-indent{
    margin-left: 186px;
}

.mastery-points{
    display:none;
}

.mastery-selected-3 .mastery-points{
    width:100%;
    height:10px;
    background-color:black;
    position: absolute;
    display:block;
}
.faq-column{
    padding: 30px;
    padding-top: 5px;
}
.faq{
    padding:10px;
    padding-top:0px;
}
.faq h2{
    margin-top:40px;
    text-align:left;
}
.faq p{
    line-height:1.1em;
    line-height: 1.9em;
    color: rgb(187, 187, 187);
}



.counter-matchups .matchup-champion {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-left: -4px;
}
/* Responsive */

@media (min-width: 992px) and (max-width: 1267px) {
    .progress{
        width:95%;
    }
}

@media (min-width: 1060px) and (max-width: 1240px) {

}

@media (min-width: 775px) and (max-width: 1060px) {

    .navbar .nav{
        text-align: center;
        margin-top: 8px;
        float: none;
        margin-top: 4px;
        margin-bottom: 15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .large-header{
        margin-top:0px;
        padding:8px 10%;
    }


}



@media (max-width: 1300px) {
    .important-message{
        margin-right:0px;
    }
}




@media (max-width: 775px) {





    .navbar .nav{
        text-align: center;
        float:none;
        margin-top: 4px;
        margin-bottom: 15px;
    }
    .large-header{
        margin-top:0px;
        padding:4px 10%;
    }
    .champion-area .row{
        margin-top:0px;
    }
    .champ-height{
        width: 18%;
    }

}
@media (max-width: 992px) {
    .counter-column {
        border-right: 0;
    }
    .matchup-area{
        padding-right:0px;
        padding-left:0px;
    }
    .matchup-area.row, .matchup-area .row{
        margin-right:0px;
        margin-left:0px;
    }
    .matchup-block{
        padding-right:0px;
        padding-left:0px;
    }
    #matchups h2 {
        margin-bottom:5px;margin-top:5px
    }
}

@media (max-width: 600px) {

    .stat-sorter{
        width:40%;
    }
    .winrate-sorter{
        width:20%;
    }
    .search-sorter{
        width:35%;
    }

    .matchup-champion-info{
        width:35%;
    }
    .matchup-stats{
        width:40%;
    }
    .winrating-area{
        width:20%;
    }


    .matchup-wrapper{
        margin-bottom:-30px;
    }
    .matchups h2{
        margin-top:20px;
        margin-bottom:12px;
    }

    div.champion-area .container-fluid .row > div {
        border-right: 0;
    }
    .counter-column {
        padding:0;
    }
    .matchups, .champion-area {
        padding-left: 0;
        padding-right: 0;
    }

    .progress{
        width:95%;
    }

    div.champion-area .container-fluid .row > div:last-child, div.matchups .container-fluid .row > div:last-child {
        padding: 0px;
    }

    .counter-matchups{
        padding-top: 14px;
        padding-bottom: 15px;
    }
    .matchup-stats small{
        margin-left:0;
    }
    .large-header{
        margin-top:0px;
        padding:6px 4%;

        background-position-y: 0px;
    }
    .large-header h2{
        font-size:1.4em;
    }

    .stat-summary-box {
        width: 32%;
        margin-bottom:15px;
    }
    .first-column, .second-column, .third-column, .fourth-column{
        width:25%
    }
    .champion-area div h2:first-child {
        margin-top: 30px;
    }
}


@media (max-width: 410px) {


    .overall-score-rating{
        padding-left:0px;
        width:22%;
    }

}

@media (max-width: 360px) {

    .overall-score-rating{
        padding-left:0px;
        width:15%;
    }
    .matchup-champion-info{
        width:42%;
    }
    .matchup-stats{
        width:30%;
    }
    .winrating-area{
        width:20%;
    }

}
