<h2> Advertising Support </h2>  
<div class="advert-holder" style="margin:auto;margin-left:15px">
  <div style="float:left; width:300px;">
    <!-- /22280732/ChampionGG_300x250_Champion_BTF1 -->
    <div id='div-gpt-ad-1443488528500-2'>
    <script type='text/javascript'>
    googletag.cmd.push(function() { googletag.display('div-gpt-ad-1443488528500-2'); });
    </script>
    </div>
  </div>

  <div style="float:right; width:300px;">
    <!-- /22280732/ChampionGG_300x250_Champion_BTF2 -->
    <div id='div-gpt-ad-1443488528500-3'>
    <script type='text/javascript'>
    googletag.cmd.push(function() { googletag.display('div-gpt-ad-1443488528500-3'); });
    </script>
    </div>
  </div>
  
  <div style="clear:both"></div>
</div>
