<h2> Advertising Support </h2>  
<div class="advert-holder" style="margin:auto;margin-left:15px">
 <ins class="adsbygoogle"
      style="display:inline-block;width:300px;height:250px"
      data-ad-client="ca-pub-4978994984254577"
      data-ad-slot="1373225876"></ins>
  <ins class="adsbygoogle"
       style="display:inline-block;width:300px;height:250px"
       data-ad-client="ca-pub-4978994984254577"
       data-ad-slot="8756891875"></ins>
</div>